// Fonts
$primary-font: "Poppins", sans-serif;
$second-font: "Public Sans", sans-serif;
// Colors
$bg-color: #efefef;
$heading-color: #152427;
$title-color: #575d5e;
$default-font: 1.8rem;
$number-btn-color: #143c3c;
$media-color: #83a17d;
$gray-color: #7d8188;
