.blog {
  margin-top: 5.7rem;
  padding: 5.7rem 0;
  background-color: #efefef;
  &-top {
    display: flex;
    align-items: center;
  }
  .section-title &__heading {
    margin-top: 1rem;
    &::before {
      content: "";
      width: 66px;
      height: 2px;
      display: inline-block;
      background-color: $heading-color;
      position: absolute;
      right: 0;
      bottom: 1.8rem;
      transform: translateX(50%);
    }
  }
  &__more {
    margin-left: auto;
    max-width: 409px;
    font-weight: 500;
    font-size: $default-font;
    line-height: 1.62;
    color: $gray-color;
    align-self: center;
    position: relative;
    top: 18px;
  }
  &-body {
    margin-top: 9rem;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 2rem;
  }
  &-item {
    transition: all 0.2s ease;
    &:hover .blog-content {
      background-color: #fff;
      border-radius: 0 0 4rem 4rem;
      margin-left: 0;
    }
    &:hover .blog-content__btn {
      background-color: $number-btn-color;
      color: #fff;
    }
  }
  &-item__img {
    display: block;
    width: 100%;
    img {
      width: 100%;
      height: 317px;
      object-fit: cover;
      border-radius: 40px 40px 0px 0px;
      display: block;
    }
  }
  &-content {
    transition: all 0.3s ease;
    padding: 2.6rem 1.8rem 1.8rem 3.3rem;
    margin-left: -3.3rem;
  }
  &-content__btn {
    min-width: 107px;
    background-color: #e2eddf;
    text-transform: uppercase;
    border: 0;
    border-radius: 2rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
    padding: 8px 32px;
    text-align: center;
    font-family: inherit;
    transition: all 0.3s ease;
    color: #000000;
  }
  &-content__desc {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.67;
    color: $number-btn-color;
    max-width: 34.6rem;
    margin: 1.3rem 0 1.9rem 0;
    padding-bottom: 1.9rem;
    border-bottom: 1px solid #c4c4c4;
  }
  &-content__date {
    display: block;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
    color: $gray-color;
    text-align: right;
    margin-top: 1.6rem;
    text-transform: uppercase;
  }
}
