.footer {
  margin-top: 5.1rem;
  padding: 5.1rem 0 5rem 0;
  background-color: $number-btn-color;
  &-row {
    display: flex;
    align-items: center;
    padding-bottom: 4.5rem;
    position: relative;
    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background: linear-gradient(
        90deg,
        #143c3c 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
      );
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
    }
  }
  &-column {
    &:first-child {
      width: 20rem;
    }
    &:last-child {
      font-family: $second-font;
      margin-left: auto;
      display: flex;
    }
  }
  &-column__heading {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #fff;
    white-space: nowrap;
  }
  &-form {
    margin-top: 2.5rem;
    display: flex;
    align-items: baseline;
  }
  &-form__input {
    display: block;
    border: 0;
    outline: none;
    background-color: transparent;
    font-family: inherit;
    padding-bottom: 1.8rem;
    border-bottom: 1px solid #6a8383;
    padding-right: 2rem;
    font-weight: 600;
    font-size: 2.2rem;
    color: #6a8383;
  }
  &-form__input::placeholder {
    color: #6a8383;
  }
  &-form__btn {
    flex-shrink: 0;
    border: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    svg {
      color: #c4c4c4;
    }
  }
  &-social {
    margin-top: 4.7rem;
    display: flex;
    align-items: center;
    gap: 0 2.2rem;
  }
  &-social__link {
    display: inline-block;
    width: 5.2rem;
    height: 5.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #265252;
    border-radius: 50%;
    transition: all 0.25s linear;
    i {
      color: #fff;
    }
    &:hover {
      background-color: #a75325;
    }
  }
  &-pagination {
    width: calc(25% - 5rem);
    margin-left: 5rem;
  }
  &-title {
    font-weight: 500;
    white-space: nowrap;
    font-size: $default-font;
    line-height: 1.56;
    color: #fff;
    margin-bottom: 6px;
  }
  &-item {
    margin-bottom: 1rem;
    display: block;
  }
  &-item__link {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #6a8383;
    transition: all 0.2s;
    &:hover {
      text-decoration: underline;
    }
  }
}
