*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.main-content {
  width: 1140px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
